.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.actions {
  display: flex;
  flex-wrap: wrap;
  width: fit-content;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
}
