* {
  box-sizing: border-box;
}

:root {
  --dark: #0c0c0c;
  --light-gray: #f2f2f2;
  --dark-gray: #272727;
  --dark-green: #2d542bff;
  --light-green: #00aa48ff;
  --yellow: #ffb200;
  --orange: #eb5b00;
  --light-red: #d84040;
  --dark-red: #a31d1d;
  --light-blue: #1640d6;
  --dark-blue: #001b79;

  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: var(--light-gray);
  background-color: var(--dark-gray);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-button {
  display: none;
}

*::-webkit-scrollbar-track {
  background: #cccccc;
  border-radius: 8px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--light-green);
  border-radius: 8px;
}
